/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 .hrs p.padded-paragraph 
 {
 	padding-top: 1em; 
 	padding-bottom: 1em;
 }
 
 .hrs .pref-name-edit-error
 {
 	padding : 1em;
 }
 
 .hrs.dl-contact-info {
    padding : 5px;
 }
 
 .hrs .dl-contact-info p.pref-notice {
 	font-style: italic;
 	font-size: x-small;
 }
 
.hrs.dl-contact-info .fancy-button {
	background: #990000;
	color: white !important;
	font-weight : normal;
}

.hrs.dl-contact-info .fancy-button:hover {
	font-weight : bold;
}

.hrs.dl-contact-info .fancy-cancel {
	background: lightgray;
	color: black !important;
}

 .hrs.dl-contact-info .pref-name-edit-error
 {
 	padding : 1em;
 }
 
 .hrs.dl-contact-info .dl-contact-info p {
 	font-style: italic;
 	font-size: x-small;
 	margin: .5em;
 }
 
 .hrs.dl-contact-info .edit-name {
	float : left; 
 }
 .hrs.dl-contact-info input {
   margin : 5px;
 }
 .hrs.dl-contact-info .edit-notice {
 	clear : left;
 }
 
 .hrs.dl-contact-info .edit-buttons {
  text-align: inherit; 

 }
 
 .hrs.dl-contact-info .pn-label {
	font-size : x-small;
 }
 
  .hrs.dl-contact-info .pref-name-edit {
     margin-left: 1em;
     background-color: #F3F3F3;
     width: 66%;
     border-radius: 4px;
     padding: 5px;
 }
 
 .hrs.dl-contact-info .pref-name-edit .names {
   display: inline-block;
 }
 
 .hrs.dl-contact-info .label {
    color: black;
 }
 
 .hrs.dl-contact-info .error {
    color : red;
 }
 
 .hrs.dl-contact-info .info-text {
   font-size: 12px;
   padding-left: 5px;
 }
 
 
 .hrs.dl-benefit-summary .dl-banner-links .dl-banner-link {
    font-size:1.15em;
 }
 
 .hrs.dl-benefit-summary .dl-banner-links .dl-banner-link a {
    font-weight:bold;
 }

 .hrs.dl-benefit-statement-links {
     margin-top: 1em;
 }

.hrs .federal-reporting-statuses {
    margin-top: 1em;
}

.hrs .dl-help-link {
  margin: .5em 1em;
}

.hrs .hrs-notification-wrapper {
  padding:10px;
  margin: 1em;
  text-align:center;
}

.hrs .dl-pager-navbar {
    height:auto;
    text-align:center;
    margin-bottom:20px;
  }
  .hrs .dl-table {
    margin-bottom:30px;
  }
  .hrs table.dl-table {
    border:1px solid #eee !important;
  }
  .hrs table.dl-table tr:nth-child(even) {
    background-color:#eee;
  }
  .hrs .hrs-notification-wrapper {
    padding:10px;
    margin: 1em;
    text-align:center;
  }
  @media (max-width:768px) {
    .hrs .dl-pager-links {
      display:none;
    }
  }
  .hrs .flc-pager-top {
    margin-top:15px;
  }
  .hrs .fl-pager ul.fl-pager-ui.dl-pager-bar {
    text-align:center;
  }
  .hrs .fl-pager .fl-pager-ui .flc-pager-next {
    position:relative;
  }
  .hrs .fl-pager .fl-pager-ui .flc-pager-previous {
    position:relative;
  }
  
  .hrs .dl-payroll-links {
    padding-left : 15px;
  }
