/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 p.padded-paragraph 
 {
 	padding-top: 1em; 
 	padding-bottom: 1em;
 }
 
 .pref-name-edit-error
 {
 	padding : 1em;
 }
 
 .dl-contact-info p {
 	font-style: italic;
 	font-size: x-small;
 }
 
.dl-contact-info .fancy-button {
	background: #990000;
	color: white !important;
	font-weight : normal;
}

.dl-contact-info .fancy-button:hover {
	font-weight : bold;
}

.dl-contact-info .fancy-cancel {
	background: lightgray;
	color: black !important;
}

 .dl-contact-info .pref-name-edit-error
 {
 	padding : 1em;
 }
 
 .sdl-contact-info .dl-contact-info p {
 	font-style: italic;
 	font-size: x-small;
 	margin: .5em;
 }
 
 .dl-contact-info .edit-name {
	float : left; 
 }
 
 .dl-contact-info .edit-notice {
 	clear : left;
 }
 
 .dl-contact-info .edit-buttons {
 	clear: left;
	min-width: 12em;
	padding-top: .75em;
	padding-bottom: .75em;
	max-width: 24.5em;
	width: 100%;
	text-align: right;
 }
 
 .dl-contact-info .pn-label {
 	font-style: italic;
	font-size : x-small;
 }
 
 .dl-benefit-confirmations {
    background-color: lightgray;
    border: 2px black dotted;
    text-align: center;
    max-height: 4em;
    vertical-align: middle;
    padding: 1em;
    border-radius: .5em;
}
